.size{
    width: 400px;
    height: 300px;
}
.cart{
    margin: 30px;
    margin-left: 150px;
    text-align: center;
    box-shadow:4px 4px 4px 4px gray;
    border-radius: 15px;
    padding: 0px;
    width:450px;
    height:450px;
    float: left;
    overflow: hidden;
}
.btn{
    padding:0px 30px;
    margin-top: 20px;
}